@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.post-text-excerpt p {
    display: -webkit-box;
    --webkit-line-clamp: 3;
    --webkit-box-orient: vertical;
    overflow: hidden;
}